html{
    width: 100%;
    background-size: cover;
}

.navbar{
    width: 100%;
}

body{
    margin-top: 80px;
}

header{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

footer {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10%;
    bottom: 0%;
    color: white;
}

.container{
    width: 100%;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: justify;
}

.content{
    background-color: white;
    color: black;
    padding: 30px;
    column-count: 2;
    text-align: justify;
}

.muestra1{
    margin: 3px;
    padding: 3px;
}

.jumbotron{
    width: 100%;
    background-color: whitesmoke;
    padding: 30px;
    box-sizing: border-box;
}

.carousel-caption{
    color: black
}

.media{
    width: 90%;
    margin: 25px;
    box-sizing: border-box;
    border: black 2px solid;
}

.mr-3{
    width: 60%;
}

.mt-0{
    text-align: center;
}

.carouselExampleIndicators{
    width: 100%;
}

.content{
    width: 100%;
}

.info{
    width: 100%;
}

.col-md-3{
    text-align: center;
}

@media screen and (max-width: 300px){

    .jumbotron{
        width: 100%;
    }
    .display-4{
        font-size: 3em;
    }
    .lead{
        font-size: medium;
    }
    .my-4{
        font-size: small;
    }

    .carousel-caption{
        width: 80%;
    }
    .carouselExampleIndicators{
        width: 80%;
    }

    .media{
        width: 60%;
        text-align: center;
    }

    .media-body{
        width: 30%;
        font-size: 1em;
    }

    .mr-3{
        width: 70%;
        position: absolute;
    }



    
}