{% extends "layout.html" %}

{% block content %}
<div align="center">
    <h1>Contáctenos</h1>
</div>

<!--cuadro de informacion-->

<form action="#">
    <p><input type="text" name="identificacion" placeholder="Documento Identidad"></p> 
    <p><input type="text" name="nombre" placeholder="Nombre"></p>
    <p><input type="text" name="telefono" placeholder="Telefono"></p>
    <p><input type="text" name="email" placeholder="Email"></p>
    <button type="submit">
        save
    </button>
</form>

{% endblock %}