{% extends "layout.html" %}

{% block content %}
<h1 align="center">RESERVA</h1>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> Hotel el Descanso </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="/"> Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/habitaciones"> Habitaciones </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactenos"> Contáctenos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre-nosotros"> Nosotros </a>
        </li>
      </ul>
  </nav>
</header>

<!--cuadro de informacion-->
<form action="/comprobar" method="POST">
    <div class="col-md-3 mb-3">
        <label for="validationCustom04">Tipo de documento</label>
        <select class="custom-select" id="validationCustom04" required>
          <option selected disabled value="">Seleccione documento</option>
          <option>Cédula de ciudadanía</option>
          <option>Pasaporte</option>
          <option>Cédula de extranjería</option>
        </select>
        <div class="invalid-feedback">
          Selecciona un tipo de documento válido.
        </div>
    </div>
    <p><input type="text" name="identificacion" placeholder="Número de Identifiación"></p>
    <p><input type="text" name="nombre" placeholder="Nombre completo"></p>
    <p><input type="text" name="telefono" placeholder="Telefono"></p>
    <p><input type="text" name="email" placeholder="Email"></p>
    <p><input type="password" name="contrasena" placeholder="Contraseña"></p>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">
        Guardar
      </button>
    </div>
</form>


<!-- Button trigger modal -->
<div style="text-align: center;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Borar información
    </button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hotel el Descanso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Estas seguro que deseas borrar la información?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a class="btn btn-primary" href="/reserva">Confirmar</a>
        </div>
      </div>
    </div>
  </div>

<script>
    $('#myModal').modal(options)
</script>

{% endblock %}