{% extends "layout.html" %}

{% block content %}
<div align="center">
    <h1>Trabaje con nosotros</h1>
</div>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> Hotel el Descanso </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="/"> Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/habitaciones"> Habitaciones </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactenos"> Contáctenos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre-nosotros"> Nosotros </a>
          </li>
        </ul>
    </nav>
  </header>

<!--formulario hoja de vida-->
<div style="text-align: center;">
    <form action="#">
        <p>Nombre: <input type="text" name="nombre" size="40"></p>
        <p>Año de nacimiento: <input type="date" name="nacimiento" min="1900"></p>
        <p>Correo: <input type="email" name="correo" size="40"></p>
        <p>Telefono: <input type="text" name="telefono" size="40"></p>
        <p>Sexo:
            <input type="radio" name="hm" value="h"> Hombre
            <input type="radio" name="hm" value="m"> Mujer
        </p>
        <div class="col-md-3 mb-3">           
            <label for="validationCustom04">País</label>
            <select class="custom-select" id="validationCustom04" required>
            <option selected disabled value="">Seleccione país residencia</option>
            <option>Argentina</option>
            <option>Brazil</option>
            <option>Colombia</option>
            <option>Uruguay</option>
            <option>Venezuela</option>
            </select>
            <div class="invalid-feedback">
            Selecciona un País de residencia válido.
            </div>
        </div>
        <form>
            <div class="form-group">
              <label for="exampleFormControlFile1">Ingresar hoja de vida</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </form>
    </form>
</div>

    <p>
      <input type="submit" class="btn btn-primary" value="Enviar">
      <input type="reset" class="btn btn-primary" value="Borrar">
    </p>
  </form>
{% endblock %}